@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Montserrat', sans-serif;
    color:crimson;
}
body{

    font-size: 15px;
    line-height: 22px;
    color: #463f3f;
    background-image:url("background.jpg");
}
.bold{
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
}
.semi_bold{
    font-weight: 500;
    font-size: 16px;
}
.resume{
    width: 900px;
    height: auto;
    display: flex;
    margin:50px auto ;
}
.resume_left{
    width: 400px;
    background: #e7935b;

}
.resume .resume_left .resume_profile{
    width: 100%;
    height: 280px;
}
.resume .resume_left .resume_profile img{
    width: 100%;
    color:blue;
    height:100% ;
}
.resume .resume_left .resume_content {
    padding: 0 25px;
}
.resume .resume_right{
    width:600px;
    height: inherit;
    background: #fff;
    color:crimson;
    padding: 25px;
    line-height: auto;
    float: right;
}
section::after {
    content: "";
    display: table;
    clear: both;
  }
  .class{
      font:bold
  }
